* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
}

.card {
    background-color: cornsilk;
    margin: 10px;
    padding: 10px;
}

.icon {
    width: 20px;
    height: auto;
}